{% extends 'base.html' %}


{% block body %}

<div class="container-fluid">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row d-flex " style="background-color: rgb(103, 175, 220);color:#fff;color:#fff;width:100%;margin: auto;">
                <div class="col "> Credit Note</div>
            </div>
            
            <div class="ledger">

                <form style="margin-top: 30px;">
                    <div class="form-group">
                        <label style="font-size: 18px;  margin-top: 10px;">Party Account Name:</label>
                        <input type="text" class="input"  id="search" onkeyup="searchFun()"><br>
                        <label style="font-size: 18px;  margin-top: 10px;">Current Balance:</label>
                        <input type="text" class="input"  id="search" onkeyup="searchFun()"><br>
                        <label style="font-size: 18px;  margin-top: 10px;">Ledger Account:</label>
                        <input type="text" class="input"  id="search" onkeyup="searchFun()"><br>
                        <label style="font-size: 18px;  margin-top: 10px;">Current Balance:</label>
                        <input type="text" class="input"  id="search" onkeyup="searchFun()"><br>

                      </div>

                </form>



            </div>
            <hr>
            <div class="box">
                <div class="head px-3" style="margin-top: 5px;">Name Of Item</div>
                
                <hr>

                <div class="row mt-4">
                    <div class="col-md-12 mt-3">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Item</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Rate per</th>
                                    <th class="text-center">Amount</th>
                                    
                                    
                                </tr>
                                </thead>
                                <tbody id="items-table-body">
                                <tr id='addr0'>
                                    <td>1</td>
                                    <td style="width: 20%;">
                                        <div class="d-flex">
                                            <select name='items[]' id="product" class="form-control">
                                                <option selected>Choose..</option>
                                                {% for i in item %}
                                                    <option value="{{ i.name }}">
                                                        {{ i.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <a class="btn btn-outline-secondary ml-1" role="button" data-target="#newitem" data-toggle="modal">+</a> 
                                        </div>
                                    </td>
                                   
                                    <td>
                                           
                                        <input type="number" name='quantity[]' onchange="qtychange1(this)" style="margin-top: 21px;" placeholder='Enter Qty' id="qty1" class="form-control qty" step=0 min=0>
                                            <div><span>Available Qty :</span> <span id="qtyspan"class=''></span></div>
                                    </td>
                                 
                                    <td >
                                        <input type="text" name='rate[]' id="unit1" placeholder='Enter Unit Price'
                                        class="form-control price" step="0.00" min="0"/>
                                    </td>
                                    <td>
                                        <input type="text" name='amount[]' id="amount" placeholder='Enter Total'
                                        class="form-control price" step="0.00" min="0"/>
                                    </td>
                                </tr>
                                </tbody>
                                <tr>
                                    <td style="border: none;"><a class="btn btn-outline-secondary ml-1" role="button" id="addrow" onclick="add_item_row()">+</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5 table-responsive-md mt-3" id="tab_logic_total" style="background-color:rgba(0,0,0,.4); border: 1px solid rgba(128, 128, 128, 0.6);">
                        <div class="p-3">
                            <div class="row container-fluid p-2 m-0">
                                <div class="col-sm-4 mt-2"><label class="text-center">Sub Total</label></div>
                                <div class="col-sm-1 mt-2">:</div>
                                <div class="col-sm-7 mt-2"><input type="number" step="any" name='subtotal' placeholder=0 
                                    class="form-control" id="sub_total">
                                </div>
                                <div class="col-sm-4 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid p-2 m-0" id="igst1">
                                <div class="col-sm-4 mt-2"><label for="a" class="text-center">Quantity</label></div>
                                <div class="col-sm-1 mt-2">:</div>
                                <div class="col-sm-7 mt-2"><input type="number" name='igst' step="any" id="igst" placeholder=0 
                                    class="form-control"/>
                                </div>
                                <div class="col-sm-4 m-0 p-0"></div>
                            </div>
                            
                            
                            <div class="row container-fluid p-2 m-0">
                                <div class="col-sm-4 mt-2"><label for="a" class="text-center">Grand Total</label></div>
                                <div class="col-sm-1 mt-2">:</div>
                                <div class="col-sm-7 mt-2"><input type="number" name='grandtotal' id="grandtotal" placeholder='0.00' readonly
                                    class="form-control"/>
                                </div>
                                <div class="col-sm-4 m-0 p-0"></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 mt-3 mb-4">
                        <button class="btn btn-outline-info w-100 text-light rounded-pill" type="submit">Submit
                            form
                        </button>
                    </div>
                </div>

                <!-- <table id="myTable" class="tb">
                    {% for i in ledger %}
                        <tr class="tr" style="height: 20px;">
                            <td>
                                <a href="{% url 'account_books_ledger_show2' i.id %}">{{i.name}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table> -->

            </div>
            

        </div>
    </div>
</div>


<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script>
    $(document).ready(function () {
        var i = 1;
        $("#add_row").click(function () {
            b = i - 1;
            $('#addr' + i).html($('#addr' + b).html()).find('td:first-child').html(i + 1);
            $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
            i++;
        });
        $("#delete_row").click(function () {
            if (i > 1) {
                $("#addr" + (i - 1)).html('');
                i--;
            }
            calc();
        });

        $('#tab_logic tbody').on('keyup change', function () {
            calc();
        });

        $('#tax').on('keyup change', function () {
            calc_total();
        });
    });

    function calc() {
        $('#tab_logic tbody tr').each(function () {
            var html = $(this).html();
            if (html != '') {
                var qty = $(this).find('.qty').val();
                var price = $(this).find('.rate').val();
                
                var tax = $(this).find('.tax').val();
                $(this).find('.total').val(qty * price);
                $(this).find('.taxamount').val((qty * price) * (tax / 100));
                calc_total();
            }
        });
    }

    function calc_total() {
        total = 0;
        $('.total').each(function () {
            total += parseFloat($(this).val());
        });
        taxamount = 0;
        $('.taxamount').each(function () {
            taxamount += parseFloat($(this).val());
        });
        $('#sub_total').val(total.toFixed(2));
        $('#tax_amount').val(taxamount.toFixed(2));
        $('#grandtotal').val((taxamount + total).toFixed(2));
        $('#baldue').val((taxamount + total).toFixed(2));

        test()
    }

    function test(){
        var bc = document.getElementById("plosu").value
        d=0
        if (bc == "{{ cmp1.state }}"  ) {
            gst = taxamount/2
            $('#cgst').val(parseFloat(gst.toFixed(2)));
            $('#sgst').val(parseFloat(gst.toFixed(2)));
            $('#igst').val(parseFloat(d.toFixed(2)));
        }
            
        if (bc != "{{ cmp1.state }}"  ) {
            $('#igst').val(taxamount.toFixed(2));
            $('#cgst').val(d.toFixed(2));
            $('#sgst').val(d.toFixed(2));
        }
    }
</script>


<script>
    $(document).ready(function(){
        
        var roinc = 0
        $('#addrow').click(function(){
            roinc++
            $('#items-table-body').append(
                `
                    <tr id='addr0${roinc}'>
                        <td>${roinc+1}</td>
                        <td style="width: 20%;">
                            <div class="d-flex">
                                <select name='items[]' id="product${roinc}" class="form-control">
                                    <option value=" " selected>Select Item</option>
                                    {% for i in item %}
                                        <option value="{{ i.name }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                                <a href="#">
                                    <button type="button" class="btn btn-outline-secondary ml-1" data-target="#newitem" data-toggle="modal">+</button>
                                </a>                    
                            </div>
                        </td>
                                       
                        <td><input type="number" name='quantity[]' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" style="margin-top: 21px;" class="form-control qty" step=0 min=0>
                            <div><span>Available Qty :</span> <span id="qtyspan${roinc}"class=''></span></div>
                        </td>                
                        <td>
                            <input type="number" name='rate[]' id="unit1${roinc}" placeholder='Enter Unit Price' class="form-control price" step="0.00" min="0">
                        </td>                
                                                        
                        
                        <td>
                            <input type="number" name='amount[]' id="total1" placeholder=0 class="form-control total" value=0 step="any">
                        </td>        
                        
                        <td><button type="button" id="${roinc}" class="btn btn-danger remove_row">-</button></td>
                        
                    </tr>
                                                
                `
            );
        });

        $(document).on('click','.remove_row',function(){
            var row_id = $(this).attr("id");
            $('#addr0'+row_id+'').remove();
        });
        
        
       
        $(document).on('click','#product',function(){
      
            select = $('#product').val();
            
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                
                },
                
                
                success:function(response){
                        
                        console.log(response)
                     
                        data2 = response.qty
                        data3 = response.price
                  
                        
                        
                        document.getElementById('qtyspan').innerHTML = data2;
                        document.getElementById('unit1').value = data3;
                        
                    }
                
            });
        });     
            
        $(document).on('click','#product1',function(){
            select = $('#product1').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                        console.log(response)
                    
                        data2 = response.qty
                        data3 = response.price
                      
                        document.getElementById('hsn11').value = data
                        document.getElementById('qtyspan1').innerHTML = data2;
                          
                        document.getElementById('unit11').value = data3
                        
                        if (data2<1)
                        {
                        
                        
                        document.getElementById('qtyspan1').style.color="red";
                        }
                        else{
                        pass
                        }
                    }
                });
            
        });

        $(document).on('click','#product2',function(){
            select = $('#product2').val();
            
            $.ajax({
                
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                
                success:function(response){
                    
                    console.log(response)
                    data = response.hsn
                    data1 = response.qty
                    data2 = response.price
                    data3 = response.gst
                    data4 = response.sgst
                    
                    document.getElementById('hsn12').value = data
                    document.getElementById('qtyspan2').innerHTML = data1;
                    document.getElementById('unit12').value = data2            
                    if (place == '{{ cmp1.state }}')
                    {   
                        
                        
                        document.getElementById('ta12').innerHTML = data3 + ' % GST';
                        document.getElementById('ta12').value=data3
                    } 
                    document.getElementById('ta52').innerHTML  = data4 + ' % IGST';
                    document.getElementById('ta52').value=data4
                    
                }
            });
        });

        $(document).on('click','#product3',function(){
            select = $('#product3').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data1 = response.qty
                    data2 = response.price
                    data3 = response.gst
                    data4 = response.sgst
                    document.getElementById('hsn13').value = data
                    document.getElementById('qtyspan3').innerHTML = data1;
                    document.getElementById('unit13').value = data2
                    if (place == '{{ cmp1.state }}')
                    {
                        document.getElementById('ta13').innerHTML = data3 + ' % GST';
                        document.getElementById('ta13').value=data3
                    }          
                    document.getElementById('ta53').innerHTML  = data4 + ' % IGST';
                    document.getElementById('ta53').value=data4
                }
            });
        });
        
        $(document).on('click','#product4',function(){
            select = $('#product4').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst
                    document.getElementById('hsn14').value = data
                    document.getElementById('qtyspan4').innerHTML = data2;
                    document.getElementById('unit14').value = data3
                    if (place == '{{ cmp1.state }}')
                    {
                        document.getElementById('ta14').innerHTML = data4 + ' % GST';
                        document.getElementById('ta14').value=data4
                    } 
                    document.getElementById('ta54').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta54').value=data5       
                }
            });          
        });

        $(document).on('click','#product5',function(){
            select = $('#product5').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst
                    document.getElementById('hsn15').value = data
                    document.getElementById('qtyspan5').innerHTML = data2;
                    document.getElementById('unit15').value = data3
                    if (place == '{{ cmp1.state }}'){
                        document.getElementById('ta15').innerHTML = data4 + ' % GST';
                        document.getElementById('ta15').value=data4
                    }    
                    document.getElementById('ta55').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta55').value=data5
                }
            });
        });

        $(document).on('click','#product6',function(){
            select = $('#product6').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst
                    document.getElementById('hsn16').value = data
                    document.getElementById('qtyspan6').innerHTML = data2;
                    document.getElementById('unit16').value = data3
                    if (place == '{{ cmp1.state }}'){
                        document.getElementById('ta16').innerHTML = data4 + ' % GST';
                        document.getElementById('ta16').value=data4
                    } 
                    document.getElementById('ta56').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta56').value=data5
                }
            });
        });

        $(document).on('click','#product7',function(){
            select = $('#product7').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn  
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst
                    document.getElementById('hsn17').value = data 
                    document.getElementById('qtyspan7').innerHTML = data2;
                    document.getElementById('unit17').value = data3
                    if (place == '{{ cmp1.state }}'){
                        document.getElementById('ta17').innerHTML = data4 + ' % GST';
                        document.getElementById('ta17').value=data4
                    } 
                    document.getElementById('ta57').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta57').value=data5
                }
            });
        });

        $(document).on('click','#product8',function(){
            select = $('#product8').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst        
                    document.getElementById('hsn18').value = data        
                    document.getElementById('qtyspan8').innerHTML = data2;
                    document.getElementById('unit18').value = data3
                    if (place == '{{ cmp1.state }}'){
                        document.getElementById('ta18').innerHTML = data4 + ' % GST';
                        document.getElementById('ta18').value=data4
                    }         
                    document.getElementById('ta58').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta58').value=data5
                }
            });
        });

        $(document).on('click','#product9',function(){
            select = $('#product9').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                            console.log(response)
                            data = response.hsn
                            
                            data2 = response.qty
                            data3 = response.price
                            data4 = response.gst
                    data5 = response.sgst       
                    document.getElementById('hsn19').value = data   
                    document.getElementById('qtyspan9').innerHTML = data2;
                    document.getElementById('unit19').value = data3        
                    if (place == '{{ cmp1.state }}'){
                        document.getElementById('ta19').innerHTML = data4 + ' % GST';
                        document.getElementById('ta19').value=data4
                    }         
                    document.getElementById('ta59').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta59').value=data5
                }
            });
        });

        $(document).on('click','#product10',function(){
            select = $('#product10').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst       
                    document.getElementById('hsn110').value = data
                    document.getElementById('qtyspan10').innerHTML = data2;
                    document.getElementById('unit110').value = data3        
                    if (place == '{{ cmp1.state }}'){
                        document.getElementById('ta110').innerHTML = data4 + ' % GST';
                        document.getElementById('ta110').value=data4    
                    }         
                    document.getElementById('ta510').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta510').value=data5
                }
            });
        });

        $(document).on('click','#product11',function(){
            select = $('#product11').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst                      
                    document.getElementById('hsn111').value = data
                    document.getElementById('qtyspan11').innerHTML = data2;
                    document.getElementById('unit111').value = data3        
                    if (place == '{{ cmp1.state }}'){
                        document.getElementById('ta111').innerHTML = data4 + ' % GST';
                        document.getElementById('ta111').value=data4
                    }         
                    document.getElementById('ta511').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta511').value=data5        
                }
            });
        });

        $(document).on('click','#product12',function(){
            select = $('#product12').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst
                    document.getElementById('hsn112').value = data
                    document.getElementById('qtyspan12').innerHTML = data2;
                    document.getElementById('unit112').value = data3
                    if (place == '{{ cmp1.state }}')
                    {
                        document.getElementById('ta112').innerHTML = data4 + ' % GST';
                        document.getElementById('ta112').value=data4
                    } 
                    document.getElementById('ta512').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta512').value=data5
                }
            });
        });

        $(document).on('click','#product13',function(){
            select = $('#product13').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst       
                    document.getElementById('hsn113').value = data
                    document.getElementById('qtyspan13').innerHTML = data2;
                    document.getElementById('unit113').value = data3        
                    if (place == '{{ cmp1.state }}')
                    {
                        document.getElementById('ta113').innerHTML = data4 + ' % GST';
                        document.getElementById('ta113').value=data4
                    }        
                    document.getElementById('ta513').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta513').value=data5
                }
            });
        });

        $(document).on('click','#product14',function(){
            select = $('#product14').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst       
                    document.getElementById('hsn114').value = data
                    document.getElementById('qtyspan14').innerHTML = data2;
                    document.getElementById('unit114').value = data3        
                    if (place == '{{ cmp1.state }}')
                    {
                        document.getElementById('ta114').innerHTML = data4 + ' % GST';
                        document.getElementById('ta114').value=data4
                    }        
                    document.getElementById('ta514').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta514').value=data5
                }
            });
        });

        $(document).on('click','#product15',function(){
            select = $('#product15').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data1 = response.desp
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst
                    document.getElementById('hsn115').value = data
                    document.getElementById('description15').value = data1
                    document.getElementById('qtyspan15').innerHTML = data2;
                    document.getElementById('unit115').value = data3
                    if (place == '{{ cmp1.state }}'){
                        document.getElementById('ta115').innerHTML = data4 + ' % GST';
                        document.getElementById('ta115').value=data4
                    } 
                    document.getElementById('ta515').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta515').value=data5
                }
            });
        });

        $(document).on('click','#product16',function(){
            select = $('#product16').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst        
                    document.getElementById('hsn116').value = data
                    document.getElementById('qtyspan16').innerHTML = data2;
                    document.getElementById('unit116').value = data3        
                    if (place == '{{ cmp1.state }}')
                    {
                        document.getElementById('ta116').innerHTML = data4 + ' % GST';
                        document.getElementById('ta116').value=data4
                    }        
                    document.getElementById('ta516').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta516').value=data5
                }
            });
        });

        $(document).on('click','#product17',function(){
            select = $('#product17').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst
                    document.getElementById('hsn117').value = data
                    document.getElementById('qtyspan17').innerHTML = data2;
                    document.getElementById('unit117').value = data3
                    if (place == '{{ cmp1.state }}')
                    {
                        document.getElementById('ta117').innerHTML = data4 + ' % GST';
                        document.getElementById('ta117').value=data4

                    } 
                    document.getElementById('ta517').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta517').value=data5
                }
            });
        });

        $(document).on('click','#product18',function(){
            select = $('#product18').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst        
                    document.getElementById('hsn118').value = data
                    document.getElementById('qtyspan18').innerHTML = data2;
                    document.getElementById('unit118').value = data3        
                    if (place == '{{ cmp1.state }}')
                    {
                        document.getElementById('ta118').innerHTML = data4 + ' % GST';
                        document.getElementById('ta118').value=data4
                    }         
                    document.getElementById('ta518').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta518').value=data5
                }
            });
        });

        $(document).on('click','#product19',function(){
            select = $('#product19').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                        console.log(response)
                        data = response.hsn
                        data2 = response.qty
                        data3 = response.price
                        data4 = response.gst
                        data5 = response.sgst   
                        document.getElementById('hsn119').value = data
                        document.getElementById('qtyspan19').innerHTML = data2;
                        document.getElementById('unit119').value = data3        
                    if (place == '{{ cmp1.state }}')
                    {
                        document.getElementById('ta119').innerHTML = data4 + ' % GST';
                        document.getElementById('ta119').value=data4
                    }         
                    document.getElementById('ta519').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta519').value=data5
                }
            });
        });

        $(document).on('click','#product120',function(){
            select = $('#product120').val();
            $.ajax({
                type: "GET",
                url: "{% url 'itemdata' %}",
                data: {
                id: select
                },
                success:function(response){
                    console.log(response)
                    data = response.hsn
                    data2 = response.qty
                    data3 = response.price
                    data4 = response.gst
                    data5 = response.sgst
                    document.getElementById('hsn120').value = data
                    document.getElementById('qtyspan20').innerHTML = data2;
                    document.getElementById('unit120').value = data3
                    if (place == '{{ cmp1.state }}')
                    {
                        document.getElementById('ta120').innerHTML = data4 + ' % GST';
                        document.getElementById('ta120').value=data4
                    } 
                    document.getElementById('ta520').innerHTML  = data5 + ' % IGST';
                    document.getElementById('ta520').value=data5
                }
            });
        
        
    });
    });
</script>
{% endblock %}